@import url(../vendor/fonts/font.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/container/container.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/__row/header__row.css);
@import url(../blocks/header/__lang-switch/header__lang-switch.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/hero/__pic-figure/hero__pic-figure.css);
@import url(../blocks/hero/__pic/hero__pic.css);
@import url(../blocks/hero/__caption/hero__caption.css);
@import url(../blocks/offer/offer.css);
@import url(../blocks/offer/__wrapper/offer__wrapper.css);
@import url(../blocks/offer/__title/offer__title.css);
@import url(../blocks/offer/__text/offer__text.css);
@import url(../blocks/offer/__list/offer__list.css);
@import url(../blocks/offer/__dflt/offer__dflt.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__wrapper/gallery__wrapper.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__pic/places__pic.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__url/places__url.css);
@import url(../blocks/places/__url-link/places__url-link.css);
@import url(../blocks/places/__url-text/places__url-text.css);
@import url(../blocks/places/__text-content/places__text-content.css);
@import url(../blocks/dogs/dogs.css);
@import url(../blocks/dogs/__cover/dogs__cover.css);
@import url(../blocks/dogs/__link/dogs__link.css);
@import url(../blocks/dogs/__title/dogs__title.css);
@import url(../blocks/dogs/__subtitle/dogs__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/author/author.css);

:root {
  /* // base */
  --font-family: "Inter", Arial, sans-serif;
  --content-width: 1280px;
  --container-offset: 48px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* // colors */
  --light-color: #fff;
  --bg-color: #2a2c2f;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
