.offer__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: var(--light-color);
}

@media (max-width: 400px) {
  .offer__title {
    font-size: 32px;
    line-height: 109%;
  }
}
