.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .gallery__wrapper {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .gallery__wrapper {
    gap: 16px;
  }
}

@media (max-width: 320px) {
  .gallery__wrapper {
    gap: 12px;
  }
}
