.section-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: var(--light-color);
  margin-top: 56px;
}

@media (max-width: 769px) {
  .section-title {
    margin-top: 48px;
    font-size: 40px;
    line-height: 110%;
  }
}
