.hero__title {
  background-color: var(--light-color);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 24px 21px;
  border-radius: 0 0 10px 10px;
}
