.add-btn {
  background: url(../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 73px;
  border: 2px solid var(--light-color);
  align-self: center;
}

@media screen and (max-width: 830px) {
  .add-btn {
    width: 100%;
    margin-top: 36px;
  }
}
