.offer__list {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: var(--light-color);
  margin: 33px 0 0;
}
@media (max-width: 320px) {
  .offer__list {
    margin-top: 44px;
  }
}
