.offer {
  margin-top: 94px;
  max-width: 840px;
  padding-left: 148px;
}
@media (max-width: 1024px) {
  .offer {
    padding-left: 48px;
    max-width: 740px;
  }
}
@media (max-width: 768px) {
  .offer {
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .offer {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
  }
}
