.dogs__link {
  text-decoration: none;
  display: flex;
  background-image: url(../../../images/cover-trains.webp);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}
