.btn_btn_add {
  background: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 22px 73px;
  border: 2px solid var(--light-color);
  align-self: center;
  border-radius: 2px;
}

@media screen and (max-width: 830px) {
  .btn_btn_add {
    width: 100%;
    margin-top: 36px;
  }
}
@media screen and (max-width: 796px) {
  .btn_btn_add {
    background-size: 16px 16px;
    width: 280px;
  }
}

.btn_btn_add:hover {
  opacity: 0.6;
}
