.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

.places__item:not(:first-child) {
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .places__item:not(:first-child) {
    margin-top: 78px;
  }
  .places__item {
    gap: 50px 32px;
    padding: 0;
    grid-template-columns: 440px 1fr;
  }
}
@media (max-width: 888px) {
  .places__item {
    grid-template-columns: 360px 1fr;
  }
}
@media (max-width: 768px) {
  .places__item:not(:first-child) {
    margin-top: 73px;
  }
  .places__item {
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }
}
@media (max-width: 666px) {
  .places__item:not(:first-child) {
    margin-top: 50px;
  }
  .places__item {
    gap: 32px 0;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
@media (max-width: 320px) {
  .places__item:not(:first-child) {
    margin-top: 80px;
  }
  .places__item:nth-child(3) {
    margin-top: 48px;
  }
  .places__item:nth-child(4) {
    margin-top: 53px;
  }
}
